*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: nowrap;
    --color1:#0A2126;
    --color2:#4c6e75;

}

#caja2{
    width: 1000px;
   margin: 0 auto;
}

#titulo{
    position: sticky;
    top: 0px;
    background-color: white;
    
    
}
#titulo1{
    font-family: "Taviraj", serif;
    font-size: 100px;
    color: var(--color1);
    text-align: center;
}

#menuprincipal{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#mp{margin: 5px 20px 30px 20px;}

#mp a:hover{
    color:var(--color2)
}

#mp a{
    color: var(--color1);
    text-decoration: none;
}



#galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure{
    
    padding: 20px;
    text-align: center;
}

figure img{
    max-width: 200px;
    max-height: 200px;
    height: 300px;
    box-shadow: 7px 5px 10px 1px;
}

#cuerpo{
    width: 650px;
   margin: 0 auto;
}

figcaption{
    font-family: Arial, Helvetica, sans-serif;
}

#fot a:hover{
    opacity: 100%;
}

#fot a{
    color: gray;
    text-decoration: none;
    opacity: 60%;
}

#pie{
    text-align: center;
    display: flex;
    justify-content: center;
}

#ico{ margin: 20px 15px 20px 15px;}

#ico a:hover{
    color:var(--color2)
}

#ico a{
    color: var(--color1);
    text-decoration: none;
}



